<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>mrevanishere</title>
    <link rel="ICON" href="{% static 'blog/seiku.ico' %}" type="image/ico">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="sidebar">
                <img src="{% static 'blog/seiku.png' %}" alt="MrEvan Icon" class="me" height="64" width="64"/>
                <h3>mrevanishere</h3>
                <p>
                    A statistics student.
                    Interested in math, cs, language, gaming, reading, art, music
                </p>
                <div class="nav">
                    <div class="nav-social">
                        <a href="https://www.github.com/mrevanishere/" target="_blank">Github</a>
                        <a href="/contact/">Discord</ahref>
                        <a>Youtube</a>
                    </div>
                    <div>
                        <ul class="nav-item">
                            <li><a href="/" class="nav-item-link">Articles</a></li>
                            <li><a>Portfolio</a></li>
                            <li><a>Patch Notes</a></li>
                            <li><a>Resources</a></li>
                            <li><a>Search</a></li>
                            <li><a href="/contact/" class="nav-item-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        {% block content %}
        <div class="col-md-4">
            {% for post in latest_posts %}
                <a href="{% url 'blog:article' post.id %}" class="post-link">
                <h2>{{ post.title }}</h2>
                <h6>{{ post.mod_date }}</h6>
                <p>{{ post.preview }}</p>
                </a>
                <br>
                <br>
            {% endfor %}
        </div>
        {% endblock %}
        <div class="col-md-4"></div>
    </div>
</body>
</html>