{% extends 'blog/index.html' %}
{% block content %}
    <!--
    <div class="toc">
        <ul>
            <li><a>{{ post.title}}</a></li>
        {!--
        {% for heading in post.headers %}
            <li><a href="">{{ heading }}<a/></li>
        {% endfor %}
        --}
        </ul>
        {% load static %}
        <script src="{% static 'blog/article.js' %}"></script>
        <button onclick="topFunction()" id="btnToTop" title="Go to top"></button>
    </div>
    -->
    <div class="col-md-4">
        <div class="article">
            <div>
                <h2>{{ post.title }}</h2>
            </div>
            <div>
                {{ post.body|safe }}
            </div>
        </div>
    </div>
{% endblock %}
