{% extends 'blog/index.html' %}
{% block content %}
    <div class="col-md-4">
        <div class="article">
            <div>
                <h2>Contact</h2>
            </div>
            <div>
                <p>
                   Feel free to contact me on any of these (but I will mostly
                    respond to only email and Discord DMs).
                </p>
                <ul>
                    <li>Email: mrevanishere@gmail.com</li>
                    <li>Discord Tag: mrevanishere#4634</li>
                    <li>Reddit: u/MrEvanIsThere</li>
                    <li>Twitter: MrEvanIsHere</li>
                    <li>Instagram: mrevanishere</li>
                    <li>FB: mrevanishere</a></li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}