body {
    background-color: white;
    font-size: 1rem;
    margin: 25px;
    padding: 20px;
    font-family: 'Roboto';
}

.article {
    font-size: 18px;
    font-family: 'Inter', monospace;
}

.toc {
    font-size: 14px;
    font-family: 'Inconsolata', sans serif;
    padding: 2em;
    left: 0%;
    top: 0%;
}

#btnToTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: gray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

#btnToTop:hover {
  background-color: gray; /* Add a dark-grey background on hover */
}

.sidebar {
}

.post-link {
    color: black;
    text-decoration: none;
}
.post-link:hover { color: black;}

.nav-item ul, li {
    list-style: none outside;
    margin: 20px;
    margin-left: 0;
    padding: 0px;
    /* list-style-image: url("") */
}

.nav-social a {
    color: #aaaaaa;
    margin: 5px;
    padding: 5px;
}

.nav-item li:hover {
    list-style-type: square !important;
    /* list-style-image: url("") */
}

.nav-item-link {
    color: black;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
}

.row p {
    color: #3c3c3c;
}

.col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}